*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.full-screen {
  background-image: url(nature.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
}

.welcome {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.input-group input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  border-radius: 5px;
  color: white;
  outline: none;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.sign-in {
  outline: none;
  background-color: hsla(201, 100%, 50%, 0.1);
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsl(201, 100%, 50%);
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.sign-in:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

.sign-in:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
