*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(jojo.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 20px;
  --tool-color: grey;

  position: absolute;
  left: 50%;
  top: -0.5rem;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
}

.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  width: max-content;
  max-width: 100%;
  text-align: center;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  background-color: var(--tool-color);
  font-size: 1.5rem;
  transform-origin: bottom center;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tool-color);
  transform-origin: top center;
}

.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}
