@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
  flex-grow: 1;
}

.full-height {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background-color: #2f303a;
  margin: 0;
}

.main-header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 120px;
}

.footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}

.logo img {
  margin-right: 0.7rem;
  width: 3rem;
  flex-grow: 1;
}

.main-nav ul,
.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a,
.footer a {
  text-decoration: none;
}

.main-nav li:first-child,
.footer li:first-child {
  margin-right: 1.6rem;
}

.main-nav a:hover,
.footer a:hover {
  color: #adadad;
}

.info-header {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.info-text {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.join-now-btn {
  text-decoration: none;
  background: rgb(83, 83, 187);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links img {
  width: 1em;
  margin-right: 0.3rem;
}
