@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  background-color: #2f303a;
}

.main-header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}

.logo img {
  margin-right: 0.7rem;
  width: 3rem;
  flex-grow: 1;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
}

.main-nav li:first-child {
  margin-right: 1.6rem;
}

.main-nav a:hover {
  color: #adadad;
}

.info-header {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.info-text {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.join-now-btn {
  text-decoration: none;
  background: rgb(83, 83, 187);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
